.jumbotron {
  background-color: rgb(78, 121, 214);
  border: 20px solid rgb(255, 174, 0);
  margin-top: 80px;
  margin-bottom: 0;
}

.title {
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
}
.lead {
  color: white;
  font-size: 2em;
}
